<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="header.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Search bar on the left -->
        <form class="d-flex search-bar">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>

        <!-- Centered nav buttons -->
        <div class="navbar-nav" (click)="closeDropdown()">
            <li class="nav-item">
                <a routerLink='/home'>
                    <button class="btn btn-primary" id="home">Home</button>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink='/countries'>
                    <button class="btn btn-primary" id="countries">Countries</button>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/news">
                    <button class="btn btn-primary" id="news">News</button>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/flights">
                    <button class="btn btn-primary" id="flight">Flights</button>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/touristic-attractions">
                    <button class="btn btn-primary" id="must-see">Touristic Attractions</button>
                </a>
            </li>
        </div>

        <!-- Profile dropdown on the right -->
        <div class="profile-area">
            <ng-container *ngIf="isLoggedIn(); else loginTemplate">
                <div class="dropdown profile-dropdown" >
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" (click)="toggleDropdown()">
                        <img src="assets/download.jpeg" alt="Profile" class="profile-icon">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" [ngClass]="{'show': isDropdownOpen}" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" (click)="navigateToProfile()">Profile</button>
                        <button class="dropdown-item" (click)="navigateToSettings()">Settings</button>
                        <button class="dropdown-item" (click)="logout()">Logout</button>
                    </div>
                </div>
            </ng-container>
            <ng-template #loginTemplate>
                <button class="btn btn-primary" (click)="navigateToLogin()">Login</button>
            </ng-template>
        </div>
    </div>
</nav>
</body>
</html>
