<body>
  <header id="sidebar" [ngClass]="{'open': isMenuOpen}">
    <button id="menu-toggle" (click)="toggleMenu()">☰ Last Accessed</button>
    <nav [ngClass]="{'open': isMenuOpen}" id="nav-menu">
      <ul id="nav-list">
        <li *ngFor="let item of lastAccessedPaths.slice(1)">
          <a [routerLink]="[item.path]">{{ item.display }}</a>
        </li>
      </ul>
    </nav>
  </header>
  

  <main *ngIf="country">
    <section id="top-cities">
      <h2>{{ country.name }}</h2>
      <p>{{country.description}}</p>
      <ul id="mixed-list">
        <ng-container *ngFor="let destination of country.destinations; let i = index">
          <li *ngIf="destination.type === 'city'" class="top-city-item">
            <div class="city-header">
              <h2 class="city-name"><a [routerLink]="['/countries', country.name.toLowerCase() + '_' + country.id, destination.name.toLowerCase() + '_' + destination.id]">{{ destination.name }}</a></h2>
              <img *ngIf="destination.mainPhotoUrl.photoUrl" [src]="destination.mainPhotoUrl.photoUrl" alt="{{ destination.mainPhotoUrl.source }}" class="city-photo">
            </div>
            <h3 *ngIf="destination.touristicAttractions.length > 0">Tourist Attractions:</h3>
            <div class="attractions">
              <div class="attraction" *ngFor="let attraction of destination.touristicAttractions">
                <h4><a [routerLink]="['/countries', country.name.toLowerCase() + '_' + country.id, 'ta', attraction.name.toLowerCase() + '_' + attraction.id]">{{ attraction.name }}</a></h4>
                <img *ngIf="destination.mainPhotoUrl.photoUrl" [src]="attraction.mainPhotoUrl.photoUrl" alt="{{ attraction.name }}" class="attraction-photo">
              </div>
            </div>
          </li>
          <li *ngIf="destination.type === 'touristicAttraction'" class="tourist-attraction-item">
            <div class="attraction-header">
              <h2 class="attraction-name"><a [routerLink]="['/countries', country.name.toLowerCase() + '_' + country.id, 'ta', destination.name.toLowerCase() + '_' + destination.id]">{{ destination.name }} </a></h2>
              <img *ngIf="destination.mainPhotoUrl.photoUrl" [src]="destination.mainPhotoUrl.photoUrl" alt="{{ destination.mainPhotoUrl.source }}" class="city-photo">
            </div>
          </li>
        </ng-container>
      </ul>
    </section>

    <section id="best-deals" [ngClass]="{'best-deals-lowered': isDropdownOpen}">
      <h2>Best Deals</h2>
      <ul id="best-deals-list">
        <li class="best-deals-item" *ngFor="let deal of deals.slice(0, 3)">
          <div class="deal-info">
            <p class="deal-title">{{ deal.title }}</p>
            <p class="deal-text">{{ deal.description }}</p>
          </div>
        </li>
      </ul>
    </section>
  </main>
</body>
