<body>
  <header id="sidebar" [ngClass]="{'open': isMenuOpen}">
    <button id="menu-toggle" (click)="toggleMenu()">☰ Last Accessed</button>
    <nav [ngClass]="{'open': isMenuOpen}" id="nav-menu">
        <ul id="nav-list">
            <li *ngFor="let item of lastAccessedPaths.slice(1)">
                <a [routerLink]="[item.path]">{{ item.display }}</a>
            </li>           
        </ul>
    </nav>
  </header>
  
  <main>
    <section id="top-cities">
      <h2>Top Cities</h2>
      <ul id="top-cities-list">
        <li class="top-city-item" *ngFor="let city of cities">
          <div class="city-header">
            <h2 class="city-name"><a [routerLink]="['/countries', country.id, city.id]">{{ city.name }}</a></h2>
            <img [src]="city.mainPhotoUrl" alt="{{ city.name }}" class="city-photo">
          </div>
          <h3>Tourist Attractions:</h3>
          <div class="attractions">
            <div class="attraction" *ngFor="let attraction of city.attractions">
              <h4>{{ attraction.name }}</h4>
              <img [src]="attraction.photoUrl" alt="{{ attraction.name }}" class="attraction-photo">
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section id="best-deals" [ngClass]="{'best-deals-lowered': isDropdownOpen}">
      <h2>Best Deals</h2>
      <ul id="best-deals-list">
        <li class="best-deals-item" *ngFor="let deal of deals.slice(0, 3)">
          <div class="deal-info">
            <p class="deal-title">{{ deal.title }}</p>
            <p class="deal-text">{{ deal.description }}</p>
          </div>
        </li>
      </ul>
    </section>
  </main>
</body>
