<body>
    <article id="last-accessed">
        <figcaption>Last accessed!</figcaption>
        <ul id="last-accessed-list">
            <li>Home</li>
            <li>Countries</li>
            <li>News</li>
            <li>Flight</li>
            <li>Must See</li>
        </ul>
    </article>
    <article id='top-countries'>
        <figcaption>Top Countries!</figcaption>
        <ul id='top-countries-list'>
            <li class='top-country-item'>
                <div id='class-part'>
                    <p id='country-name'>Italy</p>
                    <p id='country-text'>Italy is a nice country</p>
                </div>
                <div id="right-part">
                    <img id='image-part' src='assets/Flag_of_Italy.svg'>
                    <p id="country-rating">86</p>
                </div>
            </li>
        </ul>
    </article>

    <article id="best-deals">
        <figcaption>Best deals!</figcaption>
        <ul id="best-deals-list">
            <li class="best-deals-item">
                <div id="class-part">
                    <p id="article-title">E moca bro!</p>
                    <p id="article-text">Egipt is now on sale!</p>
                </div>
            </li>
            <li class="best-deals-item">
                <div id="class-part">
                    <p id="article-title">E pomana!</p>
                    <p id="article-text">Egipt is now on sale!</p>
                </div>
            </li>
            <li class="best-deals-item">
                <div id="class-part">
                    <p id="article-title">Nu ai cum sa nu iei! E promotie de promotie!</p>
                    <p id="article-text">Egipt is now on sale!</p>
                </div>
            </li>
        </ul>
    </article>
</body>