<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
    <link rel="stylesheet" href="countries.component.css">
</head>
<body>
    <!-- <app-header></app-header> Add the header component here -->
    <header id="sidebar" [ngClass]="{'open': isMenuOpen}">
        <button id="menu-toggle" (click)="toggleMenu()">☰ Last Accessed</button>
        <nav [ngClass]="{'open': isMenuOpen}" id="nav-menu">
            <ul id="nav-list">
                <li *ngFor="let item of lastAccessedPaths.slice(1)">
                    <a [routerLink]="[item.path]">{{ item.display }}</a>
                 </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="top-countries">
            <h2>Top Countries</h2>
            <ul id="top-countries-list">
                <li class="top-country-item" *ngFor="let country of countries">
                    <div class="country-info">
                        <p class="country-name"><a [routerLink]="['/countries', country.id]">{{country.name}}</a></p>
                        <p class="country-text">Italy is a nice country</p>
                    </div>
                    <div class="country-details">
                        <img class="country-flag" src="assets/Flag_of_Italy.svg" alt="Flag of Italy">
                        <p class="country-rating">86</p>
                    </div>
                </li>
            </ul>
        </section>

        <section id="best-deals"  [ngClass]="{'best-deals-lowered': isDropdownOpen}">
            <h2>Best Deals</h2>
            <ul id="best-deals-list">
                <li class="best-deals-item" *ngFor="let deal of menuItems.slice(0, 3)">
                    <div class="deal-info">
                        <p class="deal-title">E moca bro!</p>
                        <p class="deal-text">Egipt is now on sale!</p>
                    </div>
                </li>
            </ul>
        </section>
    </main>


</body>
</html>
