<body>
    <header id="sidebar" [ngClass]="{'open': isMenuOpen}">
      <button id="menu-toggle" (click)="toggleMenu()">☰ Last Accessed</button>
      <nav [ngClass]="{'open': isMenuOpen}" id="nav-menu">
        <ul id="nav-list">
          <li *ngFor="let item of lastAccessedPaths.slice(1)">
            <a [routerLink]="[item.path]">{{ item.display }}</a>
          </li>
        </ul>
      </nav>
    </header>
    
    <main>
      <section id="city-info">
        <h2>{{ city.name }}</h2>
        <img *ngIf="city.mainPhotoUrl.photoUrl" [src]="city.mainPhotoUrl.photoUrl" alt="{{ city.name }}" class="city-main-photo">
        <p id="city-description">{{ city.description }}</p>
        <div *ngIf="city.tags.length > 0" class="tags">
          <span>Tags: </span>
          <span *ngFor="let tag of city.tags" class="tag">{{ tag.tag }}</span>
        </div>
        <div class="photos">
          <img *ngFor="let photo of city.photos" [src]="photo" alt="City Photo" class="city-photo">
        </div>
      </section>
  
      <section *ngIf="city.touristicAttractions && city.touristicAttractions.length > 0" id="tourist-attractions">
        <h3>Touristic Attractions</h3>
        <ul>
          <li *ngFor="let attraction of city.touristicAttractions">
            <h4><a [routerLink]="['/countries', countryId, 'ta', attraction.name + '_' +  attraction.id.toString()]">{{ attraction.name }}</a></h4>
            <img *ngIf="attraction.mainPhotoUrl.photoUrl" [src]="attraction.mainPhotoUrl.photoUrl" alt="{{ attraction.mainPhotoUrl.source }}" class="attraction-photo">
          </li>
        </ul>
      </section>
  
      <!-- <section id="news">
        <h3>News</h3>
        <ul>
          <li *ngFor="let newsItem of news">
            <h4>{{ newsItem.title }}</h4>
            <p>{{ newsItem.excerpt }}</p>
          </li>
        </ul>
      </section> -->
      
  
      <section id="reviews">
        <h3>Reviews</h3>

        <form (ngSubmit)="addReview()" #reviewForm="ngForm">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="newReview.title" name="title" required minlength="4">
            <mat-error *ngIf="reviewForm.controls['title']?.errors?.['required']">Title is required</mat-error>
            <mat-error *ngIf="reviewForm.controls['title']?.errors?.['minlength']">Title must be at least 4 characters long</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Text</mat-label>
            <textarea matInput [(ngModel)]="newReview.text" name="text"></textarea>
          </mat-form-field>
          <div>
            <label for="rating">Rating</label>
            <app-star-rating [(rating)]="newReview.rating" required></app-star-rating>
          </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!reviewForm.form.valid || newReview.rating === 0">Add Review</button>
        </form>
        
        <ul>
          <li *ngFor="let review of city.reviews">
            <h4>{{ review.title }} - <span [innerHTML]="getStars(review.rating)"></span></h4>
            <p>{{ review.text }}</p>
            <small>By {{ review.username }} on {{ review.publishingDate | date }}</small>
            <img [src]="review.userPhoto.photoUrl" alt="{{ review.userPhoto.source }}" class="author-photo">
          </li>
        </ul>
      </section>
  
    </main>
    <section id="best-deals" [ngClass]="{'best-deals-lowered': isDropdownOpen}">
      <h2>Discover</h2>
      <ul id="best-deals-list">
        <li class="best-deals-item" *ngFor="let deal of deals.slice(0, 3)">
          <div class="deal-info">
            <p class="deal-title">{{ deal.name }}</p>
            <p class="deal-text">{{ deal.description }}</p>
            <div>
              <button class="deal-button" (click)="navigateToDeal(deal)">View destination</button>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </body>
  