<div class="suggestion-container">
    <div class="header-container">
        <div class="title">Where are we going?</div>
        <div class="search-container">
            <div class="header-text">Still not decided? Try again.</div>
            <div class="search-section">
                <input
                    type="search"
                    placeholder="Search destination"
                    [(ngModel)]="destinationString"
                    name="destinationString"
                />
                <button (click)="selectOtherDestination()">Find</button>
            </div>
        </div>
    </div>
    <div class="card-container">
        <button class="carousel-control prev">&lt;</button>
        <div class="destination-container">
            <app-suggestion-card *ngFor="let destination of destinations" [destination]="destination"></app-suggestion-card>
        </div>
        <button class="carousel-control next">&gt;</button>
    </div>
</div>
