<app-header></app-header>
<router-outlet></router-outlet>
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <div class="heading">TravelGenius</div>
            <div class="subtitle">Your ideal solution for finding and planning the trip of your life.</div>
        </div>
        <div class="contact-container">
            <div class="contact-title">Contact Information</div>
            <ul class="contact-info">
                <li><i class="fas fa-map-marker-alt"></i> Bucharest, Romania</li>
                <li><i class="fas fa-phone"></i> +40 773 320 818</li>
                <li><i class="fas fa-envelope"></i> dariaflorea49&#64;gmail.com</li>
            </ul>

        </div>
        <div class="footer-links">
            <div class="quick-link-title">Quick Link</div>
            <ul class="quick-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Countries</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Plan a trip</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>