<div class="landing-page">
    <div>
        <div class="text-banner">
            Create the journey of your life.
        </div>

        <div class="subtext-banner">
            Explore the world’s best places and travel safe.
        </div>

        <button class="button-discover">
            <span class="button-discover-text">Discover places</span>
        </button>

        <button class="button-plan-trip">
            <span class="button-plan-trip-text">Plan your next trip</span>
        </button>

    </div>
</div>