<div *ngIf="profile">
  <div class="profile-container">
    <div class="profile-header">
      <h2>{{ profile.username }}</h2>
      <div class="profile-pic-container" (click)="fileInput.click()">
        <img [src]="profile.profilePhoto?.photoUrl || 'assets/default-profile-pic.jpg'" alt="Profile Picture" class="profile-pic">
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
      </div>
    </div>

    <div class="profile-details">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="profile.description" (ngModelChange)="onInputChange('description')">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input type="text" matInput [formControl]="countryControl" [matAutocomplete]="autoCountry" (ngModelChange)="onInputChange('countryName')">
        <mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)="onCountrySelected($event)">
          <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
            {{ country.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input type="text" matInput [formControl]="cityControl" [matAutocomplete]="autoCity" (ngModelChange)="onInputChange('cityName')">
        <mat-autocomplete #autoCity="matAutocomplete" (optionSelected)="onCitySelected($event)">
          <mat-option *ngFor="let city of filteredCities | async" [value]="city.name">
            {{ city.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="profile-tags">
      <h3>Our guess of your most interested tags?</h3>sn
      <div cdkDropList class="tags" (cdkDropListDropped)="drop($event)" [cdkDropListData]="profile.tags">
        <div *ngFor="let tag of profile.tags; let i = index" cdkDrag class="tag">
          {{i + 1}}. {{ tag.tag }} <button (click)="removeTag(tag.id)">x</button>
        </div>
      </div>

      <div class="add-tag">
        <mat-form-field appearance="fill" id="tags-mat-form-field">
          <mat-label>Add a new tag</mat-label>
          <input type="text" matInput [formControl]="tagControl" [matAutocomplete]="autoTag">
          <mat-autocomplete #autoTag="matAutocomplete" (optionSelected)="onTagSelected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.tag">
              {{ tag.tag }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button (click)="addTag()">Add Tag</button>
      </div>
    </div>

    <button id="submit-button" mat-raised-button color="primary" [disabled]="!changesMade" (click)="submitChanges()">Submit Changes</button>
  </div>
</div>
