body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
    position: relative;
    padding-top: 8vh; /* Adjust based on the height of the header */
}


#nav-menu {
    display: none;
    width: 100%;
}

#nav-menu.open {
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

nav ul li {
    margin: 0.3vw 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1vw;
    display: block;
    text-align: center;
    padding: 0.3vw 0.5vw;
    background-color: #0056b3;
    border-radius: 0.5vw;
}

main {
    margin-left: 10vw;
    margin-right: 10vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5vw 0.5vw; /* Adjust the padding for proper alignment */
    overflow-y: auto;
    transition: margin-left 0.3s;
}

header.open + main {
    margin-left: 18vw;
}

section {
    width: 100%;
    background: #ffffff;
    padding: 1.5vw;
    border-radius: 0.5vw;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    margin-bottom: 1vw; /* Space between sections */
}

h2 {
    font-size: 1.8vw;
    margin-bottom: 0.8vw;
    color: #333333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.5vw 0;
}

.top-article-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw;
    border-bottom: 0.1vw solid #dddddd;
}

.article-info {
    flex: 1;
}

#article-title {
    font-size: 1.5vw;
    font-weight: bold;
    color: #007BFF;
}

#article-text {
    font-size: 0.8vw;
    color: #666666;
}

#image-part {
    width: 4vw;
    height: auto;
    margin-left: 0.5vw;
}


footer {
    background-color: #333333;
    color: #ffffff;
    padding: 0.5vw;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
