<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <!-- <app-header></app-header> Add the header component here -->
    <header id="sidebar" [ngClass]="{'open': isMenuOpen}">
        <button id="menu-toggle" (click)="toggleMenu()">☰ Last Accessed</button>
        <nav [ngClass]="{'open': isMenuOpen}" id="nav-menu">
            <ul id="nav-list">
                <li *ngFor="let item of lastAccessedPaths.slice(1)">
                    <a [routerLink]="[item.path]">{{ item.display }}</a>
                </li>           
            </ul>
        </nav>
    </header>

    <main>
        <section id="top-articles">
            <h2>Top Destinations</h2>
            <ul id="top-articles-list">
                <li class="top-article-item" *ngFor="let destination of topArticles">
                    <div id="article-info">
                        <p id="article-title" class="hover-effect-underline" (click)="navigateToDestination(destination)">{{ destination.name }}</p>
                        <p id="article-text">{{ destination.description }}</p>
                    </div>
                    <img id="image-part" [src]="destination.mainPhotoUrl.photoUrl" alt="{{ destination.mainPhotoUrl.source }}">
                </li>
            </ul>
        </section>
        
        <!-- <section id="top-articles">
            <h2>Top Articles</h2>
            <ul id="top-articles-list">
                <li class="top-article-item">
                    <div class="article-info">
                        <p id="article-title">Italy</p>
                        <p id="article-text">Italy is a nice country</p>
                    </div>
                    <img id="image-part" src="assets/Flag_of_Italy.svg" alt="Italy Flag">
                </li>
                <li class="top-article-item">
                    <div class="article-info">
                        <p id="article-title">Sagrada Familia</p>
                        <p id="article-text">Sagrada Familia is now open for visiting!</p>
                    </div>
                    <img id="image-part" src="assets/sagrada_familia.jpg" alt="Sagrada Familia">
                </li>
                <li class="top-article-item">
                    <div class="article-info">
                        <p id="article-title">Eiffel Tower</p>
                        <p id="article-text">The Eiffel Tower is again the most visited touristic attraction</p>
                    </div>
                    <img id="image-part" src="assets/640px-Tour_Eiffel_Wikimedia_Commons_(cropped).jpg" alt="Eiffel Tower">
                </li>
            </ul>
        </section> -->

        <section id="best-deals" [ngClass]="{'best-deals-lowered': isDropdownOpen}">
            <h2>Discover</h2>
            <ul id="best-deals-list">
                <li class="best-deals-item" *ngFor="let deal of deals.slice(0, 3)">
                    <div class="deal-info">
                        <p class="deal-title">{{deal.name}}</p>
                        <p class="deal-text">{{deal.description}}</p>
                        <div>
                            <button class="deal-button" (click)="navigateToDeal(deal)">View destination</button>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </main>

</body>
</html>
