<body>
    <article id="last-accessed">
        <figcaption>Last accessed!</figcaption>
        <ul id="last-accessed-list">
            <li>Home</li>
            <li>Countries</li>
            <li>News</li>
            <li>Flight</li>
            <li>Must See</li>
        </ul>
    </article>
    <article id="top-articles">
        <figcaption>Top Articles!</figcaption>
        <ul id="top-articles-list">
            <li class="top-article-item">
                <div id="class-part">
                    <p id="article-title">Italy</p>
                    <p id="article-text">Italy is a nice country</p>
                </div>
                <img id="image-part" src="assets/Flag_of_Italy.svg">
            </li>
            <li class="top-article-item">
                <div id="class-part">
                    <p id="article-title">Sagrada Familia</p>
                    <p id="article-text">Sagrada Familia is now open for visiting!</p>
                </div>
                <img id="image-part" src="assets/sagrada_familia.jpg">
            </li>
            <li class="top-article-item">
                <div id="class-part">
                    <p id="article-title">Eiffel Tower</p>
                    <p id="article-text">The Eiffel Tower is again the most visited touristic attraction</p>
                </div>
                <img id="image-part" src="assets/640px-Tour_Eiffel_Wikimedia_Commons_(cropped).jpg">
            </li>
        </ul>
    </article>
    <article id="best-deals">
        <figcaption>Best deals!</figcaption>
        <ul id="best-deals-list">
            <li class="best-deals-item">
                <div id="class-part">
                    <p id="article-title">E moca bro!</p>
                    <p id="article-text">Egipt is now on sale!</p>
                </div>
            </li>
            <li class="best-deals-item">
                <div id="class-part">
                    <p id="article-title">E pomana!</p>
                    <p id="article-text">Egipt is now on sale!</p>
                </div>
            </li>
            <li class="best-deals-item">
                <div id="class-part">
                    <p id="article-title">Nu ai cum sa nu iei! E promotie de promotie!</p>
                    <p id="article-text">Egipt is now on sale!</p>
                </div>
            </li>
        </ul>
    </article>
</body>