<body>
    <header id="sidebar" [ngClass]="{'open': isMenuOpen}">
      <button id="menu-toggle" (click)="toggleMenu()">☰ Last Accessed</button>
      <nav [ngClass]="{'open': isMenuOpen}" id="nav-menu">
        <ul id="nav-list">
          <li *ngFor="let item of lastAccessedPaths.slice(1)">
            <a [routerLink]="[item.path]">{{ item.display }}</a>
          </li>
        </ul>
      </nav>
    </header>
    
    <main>
      <section id="attraction-info">
        <h2>{{ attraction.name }}</h2>
        <img [src]="attraction.mainPhotoUrl.photoUrl" alt="{{ attraction.mainPhotoUrl.source }}" class="attraction-main-photo">
        <p id="attraction-description">{{ attraction.description }}</p>
        <div class="tags">
          <span>Tags: </span>
          <span *ngFor="let tag of attraction.tags" class="tag">{{ tag.tag }}</span>
        </div>
        <div class="photos">
          <img *ngFor="let photo of attraction.photos" [src]="photo" alt="Attraction Photo" class="attraction-photo">
        </div>
      </section>
  
      <section id="reviews">
        <h3>Reviews</h3>

        <form (ngSubmit)="addReview()" #reviewForm="ngForm">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="newReview.title" name="title" required minlength="4">
            <mat-error *ngIf="reviewForm.controls['title']?.errors?.['required']">Title is required</mat-error>
            <mat-error *ngIf="reviewForm.controls['title']?.errors?.['minlength']">Title must be at least 4 characters long</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Text</mat-label>
            <textarea matInput [(ngModel)]="newReview.text" name="text"></textarea>
          </mat-form-field>
          <div>
            <label for="rating">Rating</label>
            <app-star-rating [(rating)]="newReview.rating" required></app-star-rating>
          </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!reviewForm.form.valid || newReview.rating === 0">Add Review</button>
        </form>

        
        <ul>
          <li *ngFor="let review of attraction.reviews">
            <h4>{{ review.title }} - <span [innerHTML]="getStars(review.rating)"></span></h4>
            <p>{{ review.text }}</p>
            <small>By {{ review.username }} on {{ review.publishingDate| date }}</small>
            <img [src]="review.userPhoto.photoUrl" alt="{{ review.userPhoto.source }}" class="author-photo">
          </li>
        </ul>
      </section>
    </main>
    <section id="best-deals" [ngClass]="{'best-deals-lowered': isDropdownOpen}">
      <h2>Best Deals</h2>
      <ul id="best-deals-list">
        <li class="best-deals-item" *ngFor="let deal of deals.slice(0, 3)">
          <div class="deal-info">
            <p class="deal-title">{{ deal.title }}</p>
            <p class="deal-text">{{ deal.description }}</p>
          </div>
        </li>
      </ul>
    </section>
  </body>
  