<body>
    <header id="sidebar" [ngClass]="{'open': isMenuOpen}">
      <button id="menu-toggle" (click)="toggleMenu()">☰ Last Accessed</button>
      <nav [ngClass]="{'open': isMenuOpen}" id="nav-menu">
        <ul id="nav-list">
          <li *ngFor="let item of lastAccessedPaths.slice(1)">
            <a [routerLink]="[item.path]">{{ item.display }}</a>
          </li>
        </ul>
      </nav>
    </header>
    
    <main>
      <section id="attraction-info">
        <h2>{{ attraction.name }}</h2>
        <img [src]="attraction.photoUrl" alt="{{ attraction.name }}" class="attraction-main-photo">
        <p id="attraction-description">{{ attraction.description }}</p>
        <div class="tags">
          <span>Tags: </span>
          <span *ngFor="let tag of attraction.tags" class="tag">{{ tag }}</span>
        </div>
        <div class="photos">
          <img *ngFor="let photo of attraction.photos" [src]="photo" alt="Attraction Photo" class="attraction-photo">
        </div>
      </section>
  
      <section id="reviews">
        <h3>Reviews</h3>
        <ul>
          <li *ngFor="let review of attraction.reviews">
            <h4>{{ review.title }} - <span [innerHTML]="getStars(review.rating)"></span></h4>
            <p>{{ review.text }}</p>
            <small>By {{ review.userId }} on {{ review.date | date }}</small>
            <img [src]="review.userPhotoUrl" alt="{{ review.userId }}" class="author-photo">
          </li>
        </ul>
      </section>
    </main>
    <section id="best-deals" [ngClass]="{'best-deals-lowered': isDropdownOpen}">
      <h2>Best Deals</h2>
      <ul id="best-deals-list">
        <li class="best-deals-item" *ngFor="let deal of deals.slice(0, 3)">
          <div class="deal-info">
            <p class="deal-title">{{ deal.title }}</p>
            <p class="deal-text">{{ deal.description }}</p>
          </div>
        </li>
      </ul>
    </section>
  </body>
  