<div class="food-page-container">
    <div class="content-container">
        <div class="title">What to eat?</div>
        <div class="header-title">Select what kind of things you would like
to try in your trip.</div>
        <div class="checkbox-container">
            <label class="container">
                <div class="label-style">Local food</div>
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                <div class="label-style">Spicy food</div>
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="checkbox-container">
            <label class="container">
                <div class="label-style">Fast food</div>
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                <div class="label-style">Budget friendly food</div>
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <button class="see-plan" (click)="onNavigateToResult()">
            <span class="see-plan-text">See your plan</span>
        </button>
    </div>
</div>
